@import url(../libs/normalize-css/normalize.css);
@font-face {
  font-family: "Peace sans";
  src: url("../fonts/PeaceSans.woff") format("woff"); }
@font-face {
  font-family: "BillyOhio";
  src: url("../fonts/Billy Ohio.woff") format("woff"); }
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.75;
  font-family: raleway-grid, sans-serif;
  overflow-x: hidden;
  opacity: 1;
  color: #333333; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

.container {
  margin: 0 auto;
  max-width: 1200px; }

.visually-hidden {
  display: none; }

.main-header {
  background: url(../img/mountain.jpg) rgba(0, 0, 0, 0.71);
  background-blend-mode: multiply;
  background-size: cover;
  max-height: 100vh;
  overflow: hidden;
  position: relative; }
  .main-header:after {
    content: "";
    background-color: #f0f0f0;
    width: 3000px;
    height: 2000px;
    position: absolute;
    bottom: -191%;
    left: 2%;
    -webkit-transform: rotate(170deg);
            transform: rotate(170deg);
    z-index: 1; }
  .main-header:before {
    content: "";
    background-color: #cd0a2d;
    width: 700px;
    height: 2000px;
    position: absolute;
    top: -110%;
    right: -5%;
    -webkit-transform: rotate(140deg);
            transform: rotate(140deg);
    z-index: 2; }
  .main-header .container {
    position: relative;
    z-index: 2; }
  .main-header .main-nav {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; }
    .main-header .main-nav .header-logo {
      max-width: 192px;
      max-height: 97px;
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
      font-family: bebas-neue, sans-serif;
      font-size: 34px;
      font-weight: 400;
      color: #ffffff;
      padding: 0;
      margin: 0;
      line-height: 0.5;
      margin-top: 10px; }
      .main-header .main-nav .header-logo b span {
        color: #cd0a2d; }
      .main-header .main-nav .header-logo p {
        padding: 0;
        margin: 0;
        text-shadow: 4px 2px 0 rgba(0, 0, 0, 0.2);
        color: #ffffff;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 400;
        line-height: 27.05px;
        text-transform: uppercase; }
    .main-header .main-nav .header-menu ul, .main-header .main-nav .header-social ul {
      float: right; }
      .main-header .main-nav .header-menu ul li, .main-header .main-nav .header-social ul li {
        float: left;
        padding-top: 12px;
        padding-right: 10px;
        list-style: none;
        margin-top: 20px; }
        .main-header .main-nav .header-menu ul li a, .main-header .main-nav .header-social ul li a {
          text-decoration: none;
          text-shadow: 4px 2px 0 rgba(0, 0, 0, 0.2);
          color: #ffffff;
          font-family: Montserrat;
          font-size: 14px;
          font-weight: 400;
          text-transform: uppercase; }
        .main-header .main-nav .header-menu ul li i, .main-header .main-nav .header-social ul li i {
          border: 3px solid #ffffff;
          border-radius: 50px;
          width: 47px;
          height: 46px;
          font-size: 24px;
          text-align: center;
          padding-top: 8px;
          margin-top: -20px; }
  .main-header .header-block {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px; }
    .main-header .header-block h2 {
      text-shadow: 4px 2px 0 rgba(0, 0, 0, 0.5);
      color: #ffffff;
      font-family: "Dancing Script", cursive;
      font-size: 96px;
      font-weight: 400;
      line-height: 95.78px; }
    .main-header .header-block img {
      width: 940px;
      height: 570px;
      position: relative;
      top: -230px; }

main {
  background-color: #f0f0f0; }

.tour-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }
  .tour-list .tour-item-back {
    display: none; }
  .tour-list .tour-item-face {
    position: relative; }
    .tour-list .tour-item-face-text {
      position: absolute;
      bottom: 0;
      left: 0;
      color: #ffffff;
      font-family: bebas-neue, sans-serif;
      font-size: 56px;
      font-weight: 400;
      line-height: 0.5; }
      .tour-list .tour-item-face-text p {
        font-size: 22px;
        font-weight: 400; }
      .tour-list .tour-item-face-text span {
        font-size: 36px; }
    .tour-list .tour-item-face:before {
      content: "";
      position: absolute;
      background-color: transparent;
      width: 120px;
      height: 120px;
      border: 120px solid transparent;
      border-bottom: 120px solid #cd0a2d;
      -webkit-transform: rotate(-135deg);
              transform: rotate(-135deg);
      bottom: -126px;
      left: -126px; }

/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /* */ }
/*==========  Mobile First  ========== */
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /* */ }
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /* */ }
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /* */ }
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /* */ }
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /* */ }
