@import url(../libs/normalize-css/normalize.css);
@font-face {
  font-family: "Peace sans";
  src: url("../fonts/PeaceSans.woff") format("woff"); }
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.75;
  font-family: raleway-grid, sans-serif;
  overflow-x: hidden;
  opacity: 1;
  color: #333333; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

.container {
  margin: 0 auto;
  max-width: 1200px; }

.visually-hidden {
  display: none; }

/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /* */ }
/*==========  Mobile First  ========== */
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /* */ }
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /* */ }
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /* */ }
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /* */ }
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /* */ }
