@import url(../libs/normalize-css/normalize.css);
@font-face {
  font-family: "Peace sans";
  src: url("../fonts/PeaceSans.woff") format("woff"); }
@font-face {
  font-family: "LemonMilkBold";
  src: url("../fonts/LemonMilkbold.otf") format("otf"); }
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.55;
  font-family: raleway-grid, sans-serif;
  overflow-x: hidden;
  opacity: 1;
  color: #333333; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

.grid {
  display: grid; }

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0; }

.landing-block {
  padding-top: 97px;
  padding-bottom: 100px; }

h2 {
  color: #494949;
  font-family: "Peace Sans";
  font-size: 62px;
  font-weight: 400;
  margin-bottom: 76px;
  margin-top: 0;
  line-height: 0.87; }

.main-header {
  min-height: 100vh;
  background: url(../img/Place_Image.png) no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 2;
  padding-bottom: 100px; }
  .main-header .btn {
    margin-top: 630px;
    margin-left: 35%;
    margin-right: 65%; }

.main-header-wrapper {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: #bc2e3a;
  mix-blend-mode: multiply;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1; }
  .main-header-wrapper h1 {
    font-family: "LemonMilkBold", "Russo One", sans-serif;
    text-align: center;
    font-size: 159px;
    font-weight: 900;
    text-transform: uppercase;
    color: #ffffff;
    padding: 0;
    margin: 0;
    letter-spacing: 0.51px;
    line-height: 0.76;
    text-shadow: 3px -3px 6px #000000, -6px 3px 6px #000000;
    margin-bottom: 64px;
    margin-top: 170px;
    -webkit-filter: drop-shadow(0 0 10px black);
            filter: drop-shadow(0 0 10px black);
    width: 70%;
    margin-top: 270px; }
    .main-header-wrapper h1 span {
      font-size: 96px;
      position: relative;
      top: -43px; }

.main-header_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  position: relative;
  padding-top: 20px; }
  .main-header_nav .menu a {
    float: left;
    padding: 0 10px;
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
    color: #ffffff;
    font-family: Lato;
    font-size: 15px;
    font-weight: 700; }
    .main-header_nav .menu a:hover {
      text-decoration: underline;
      opacity: 0.7; }
  .main-header_nav .logo a {
    color: #ffffff;
    font-family: Lato;
    font-size: 43px;
    font-weight: 400;
    text-decoration: none; }

.main-header_block {
  grid-template-columns: 2fr 1fr; }
  .main-header_block-text h1 {
    font-family: "Russo One", sans-serif;
    text-align: center;
    font-size: 159px;
    font-weight: 900;
    text-transform: uppercase;
    color: #ffffff;
    padding: 0;
    margin: 0;
    letter-spacing: 0.51px;
    line-height: 0.76;
    text-shadow: 3px -3px 6px #000000, -6px 3px 6px #000000;
    margin-bottom: 64px;
    margin-top: 170px;
    -webkit-filter: drop-shadow(0 0 10px black);
            filter: drop-shadow(0 0 10px black); }
    .main-header_block-text h1 span {
      font-size: 96px;
      position: relative;
      top: -43px; }

.header-model {
  position: absolute;
  bottom: -17%;
  left: 47%;
  width: 930px;
  overflow: hidden; }

.btn {
  width: 192px;
  height: 54px;
  -webkit-box-shadow: -4px 12px 40px rgba(0, 1, 1, 0.47);
          box-shadow: -4px 12px 40px rgba(0, 1, 1, 0.47);
  background-color: #ffffff;
  color: #242424;
  font-family: Lato;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.32px;
  border-radius: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .btn:focus {
    outline: none; }
  .btn:hover {
    background-color: #dfdfdf;
    cursor: pointer; }

.btn-red {
  background-color: #bc2e3a;
  color: #ffffff;
  -webkit-box-shadow: -4px 12px 40px rgba(0, 1, 1, 0.2);
          box-shadow: -4px 12px 40px rgba(0, 1, 1, 0.2); }
  .btn-red:hover {
    background-color: #852227;
    cursor: pointer; }

.who {
  position: relative;
  overflow: hidden; }
  .who:before {
    content: " ";
    width: 1241px;
    height: 1241px;
    background-color: #171717;
    position: absolute;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    z-index: -1;
    bottom: 10%;
    left: 40%; }
  .who-block {
    grid-template-columns: 1fr 1fr; }
    .who-block p {
      color: #6a6a6a;
      font-family: "Open Sans";
      font-size: 17px;
      font-weight: 400;
      margin-bottom: 77px;
      max-width: 470px; }
  .who-img {
    margin-left: -50px;
    margin-right: -50px; }

.we-do {
  background-color: #f5f5f5;
  position: relative;
  overflow: hidden; }
  .we-do:before {
    content: " ";
    width: 339px;
    height: 339px;
    background-color: #bc2e3a;
    position: absolute;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 17%;
    left: -17%; }
  .we-do-icon-block {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px; }
  .we-do-icon i {
    background-color: #bc2e3a;
    color: #ffffff;
    width: 75px;
    height: 75px;
    border-radius: 75px;
    font-size: 32px;
    text-align: center;
    float: left;
    padding-top: 20px;
    margin-right: 15px; }
  .we-do-block-text {
    overflow: hidden; }
    .we-do-block-text h4 {
      color: #6f6f6e;
      font-family: "Open Sans", sans-serif;
      font-size: 30px;
      font-weight: 800;
      line-height: 1;
      margin-top: 30px;
      margin-bottom: 25px; }

.we-works {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  z-index: -2; }
  .we-works h2 {
    margin-bottom: 70px; }
  .we-works-text {
    display: inline-block;
    max-width: 300px; }
    .we-works-text p {
      margin-bottom: 46px; }
    .we-works-text .btn {
      margin-left: 0; }
  .we-works-img {
    position: relative;
    left: 40%;
    bottom: 25%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; }
    .we-works-img-one, .we-works-img-two, .we-works-img-three {
      position: absolute;
      display: grid;
      grid-gap: 0;
      width: 350px;
      height: 297px;
      grid-template-columns: 1fr;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: end;
      padding-left: 87px;
      background-position: center;
      background-size: cover;
      bottom: 49%;
      -webkit-transform: skewX(-25deg);
              transform: skewX(-25deg);
      background-color: #000000;
      -webkit-transition: all 1s ease;
      transition: all 1s ease; }
      .we-works-img-one:hover, .we-works-img-two:hover, .we-works-img-three:hover {
        background-blend-mode: hard-light;
        -webkit-transition: all 1s ease;
        transition: all 1s ease;
        -webkit-transform: translateX(-25%) skewX(-25deg);
                transform: translateX(-25%) skewX(-25deg); }
        .we-works-img-one:hover p, .we-works-img-two:hover p, .we-works-img-three:hover p {
          display: block;
          -webkit-transition: all 1s ease;
          transition: all 1s ease;
          -webkit-transform: skewX(25deg);
                  transform: skewX(25deg); }
      .we-works-img-one b, .we-works-img-two b, .we-works-img-three b {
        color: #ffffff;
        font-family: Lato;
        font-size: 40px;
        font-weight: 700;
        text-transform: uppercase;
        -webkit-filter: drop-shadow(0 0 10px black);
                filter: drop-shadow(0 0 10px black);
        -webkit-transform: skewX(25deg);
                transform: skewX(25deg); }
      .we-works-img-one p, .we-works-img-two p, .we-works-img-three p {
        max-width: 210px;
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 18px;
        -webkit-filter: drop-shadow(0 0 10px black);
                filter: drop-shadow(0 0 10px black);
        -webkit-transform: skewX(25deg);
                transform: skewX(25deg);
        display: none;
        -webkit-transition: all 1s ease;
        transition: all 1s ease; }
    .we-works-img-one {
      background-image: url(../img/lapiz.jpg);
      left: 0; }
      .we-works-img-one:before {
        content: "1.";
        position: absolute;
        top: -7px;
        right: 25px;
        color: #ffffff;
        font-family: Lato;
        font-size: 58px;
        font-weight: 700;
        text-transform: uppercase;
        -webkit-transform: skewX(25deg);
                transform: skewX(25deg); }
    .we-works-img-two {
      background-image: url(../img/photo1.jpg);
      left: 390px; }
      .we-works-img-two:before {
        content: "2.";
        position: absolute;
        top: -7px;
        right: 25px;
        color: #ffffff;
        font-family: Lato;
        font-size: 58px;
        font-weight: 700;
        text-transform: uppercase;
        -webkit-transform: skewX(25deg);
                transform: skewX(25deg); }
    .we-works-img-three {
      background-image: url(../img/photo2.jpg);
      left: 780px; }
      .we-works-img-three:before {
        content: "3.";
        position: absolute;
        top: -7px;
        right: 25px;
        color: #ffffff;
        font-family: Lato;
        font-size: 58px;
        font-weight: 700;
        text-transform: uppercase;
        -webkit-transform: skewX(25deg);
                transform: skewX(25deg); }
  .we-works:before {
    content: "";
    position: absolute;
    width: 1183px;
    height: 1183px;
    right: -50%;
    bottom: -55%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    background-color: #bc2e3a;
    z-index: -1; }

.team {
  background-color: #f5f5f5; }
  .team_photo {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.slider {
  margin: 25px;
  position: relative;
  overflow: hidden;
  text-align: center;
  padding: 80px; }
  .slider #slides {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    padding: 0;
    margin: 0; }
    .slider #slides li {
      list-style: none;
      -webkit-transition: all 1s ease;
      transition: all 1s ease;
      position: relative;
      opacity: 0.4; }
    .slider #slides li img {
      -webkit-transition: all 1s ease;
      transition: all 1s ease;
      position: relative;
      -webkit-box-shadow: -4px 12px 40px rgba(0, 1, 1, 0.22);
              box-shadow: -4px 12px 40px rgba(0, 1, 1, 0.22);
      border: 18px solid #ffffff;
      max-width: 280px;
      z-index: 1; }
    .slider #slides .showing {
      opacity: 1;
      z-index: 2;
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }

/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /* */ }
/*==========  Mobile First  ========== */
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /* */ }
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /* */ }
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /* */ }
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /* */ }
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /* */ }
