* {
  font-family: "Arial MT";
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.row {
  padding: 50px; }

.header {
  background-color: #445162; }
  .header-text {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-size: 20px;
    font-weight: 400; }
  .header h1 {
    font-size: 60px; }
  .header-img {
    width: 469px;
    height: 214px;
    float: right;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
    border-radius: 15px;
    -webkit-filter: grayscale(50%);
            filter: grayscale(50%); }
  .header-list {
    list-style-image: url("../img/check_icon.png"); }

.about {
  color: #445162;
  font-size: 30px;
  font-weight: 400; }
  .about p {
    font-size: 16px; }
  .about-img {
    width: 430px;
    height: 245px;
    background-color: #445162;
    float: right; }

.pluses {
  background-color: #f5f5f5; }
  .pluses h3 {
    text-align: center;
    width: 100%;
    margin-bottom: 29px; }
  .pluses-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .pluses-block img {
      float: left;
      padding-top: 5px;
      padding-right: 9px;
      height: 100%; }
    .pluses-block p {
      overflow: hidden;
      width: 90%;
      color: #333333; }
      .pluses-block p:after {
        content: "";
        clear: both; }

.screen {
  padding-top: 51px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .screen h3 {
    text-align: center;
    width: 100%;
    margin-bottom: 35px;
    color: #445162;
    font-size: 30px; }
  .screen-block {
    margin: 30px 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .screen-block-img {
      min-width: 200px;
      height: 150px;
      background-color: #445161;
      float: left;
      margin-right: 9px;
      -webkit-transition: 0.4s ease-out;
      transition: 0.4s ease-out;
      -webkit-filter: sepia(100%);
              filter: sepia(100%);
      border-radius: 10px;
      -webkit-box-shadow: none;
              box-shadow: none; }
      .screen-block-img:hover {
        -webkit-transform: scale(1.1) rotate(-5deg);
                transform: scale(1.1) rotate(-5deg);
        -webkit-transition: 0.4s ease-out;
        transition: 0.4s ease-out;
        -webkit-filter: none;
                filter: none;
        -webkit-box-shadow: 7px 7px 15px rgba(8, 8, 8, 0.58);
                box-shadow: 7px 7px 15px rgba(8, 8, 8, 0.58); }
    .screen-block-text {
      margin-right: 15px;
      overflow: hidden;
      min-width: 40%; }
      .screen-block-text h4 {
        color: #445161;
        font-size: 24px; }
      .screen-block-text p {
        color: #333333;
        font-size: 16px;
        font-weight: 400; }

.reviews {
  background-color: #f5f5f5; }
  .reviews h3 {
    text-align: center;
    color: #445162;
    width: 100%;
    margin-bottom: 29px; }
  .reviews-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .reviews-img {
    width: 75px;
    height: 75px;
    background-color: #445161;
    border-radius: 100%;
    min-width: 75px;
    margin-right: 23px; }
  .reviews-text {
    padding: 16px 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #ebebeb;
    border-radius: 7px;
    position: relative;
    z-index: 99;
    margin-bottom: 24px; }
    .reviews-text:before {
      content: " ";
      position: absolute;
      left: -10px;
      top: 30px;
      height: 20px;
      width: 20px;
      background-color: #ebebeb;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    .reviews-text blockquote {
      color: #333333;
      font-family: "Arial - Italic MT";
      font-size: 14px;
      font-weight: 400;
      font-style: italic; }
    .reviews-text cite {
      color: #989898;
      font-family: "Arial MT";
      font-size: 14px;
      font-weight: 400;
      font-style: normal;
      display: block; }

.buy h3 {
  text-align: center;
  color: #445162;
  width: 100%;
  margin-bottom: 29px; }
.buy-block {
  background-color: #445162;
  border-radius: 5px;
  border: 1px solid #445162;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-box-shadow: none;
          box-shadow: none;
  z-index: 8;
  position: relative; }
  .buy-block:hover {
    -webkit-filter: none;
            filter: none;
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-box-shadow: 7px 7px 15px rgba(8, 8, 8, 0.58);
            box-shadow: 7px 7px 15px rgba(8, 8, 8, 0.58);
    z-index: 10;
    position: relative; }
  .buy-block h4 {
    text-align: center;
    color: #ffffff;
    padding: 16px;
    font-size: 24px;
    font-weight: 400; }
  .buy-block-price {
    background-color: #ffffff;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    color: #445162; }
  .buy-block ol li {
    padding: 0 20px;
    color: #ffffff;
    font-size: 14px; }

.send {
  background-color: #ffffff;
  border-radius: 5px;
  width: 80%;
  margin: 0 10% 20px;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  color: #445162;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  outline: none;
  padding: 7px; }
  .send:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: 0.4s ease-out;
    transition: 0.4s ease-out;
    cursor: pointer; }
  .send:focus {
    outline: none;
    background-color: #88a2c4;
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
    -webkit-transition: 0.4s ease-out;
    transition: 0.4s ease-out; }

.contacts {
  background-color: #445162; }
  .contacts h3 {
    text-align: center;
    color: #ffffff;
    width: 100%;
    margin-bottom: 29px; }
  .contacts form input, .contacts form textarea {
    width: 100%;
    margin-bottom: 21px;
    border-radius: 5px;
    padding: 10px;
    outline: none; }
    .contacts form input:focus, .contacts form textarea:focus {
      background-color: #88a2c4;
      -webkit-transform: scale(1.02);
              transform: scale(1.02);
      -webkit-transition: 0.4s ease-out;
      transition: 0.4s ease-out; }
  .contacts .send {
    margin: 0 auto;
    width: 140px;
    display: block; }
  .contacts-block {
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 37px; }
    .contacts-block a {
      color: #ffffff;
      font-size: 16px; }
  .contacts-soc a {
    display: inline-block;
    color: #445162;
    background-color: #fff;
    padding: 7px;
    font-size: 20px;
    width: 42px;
    height: 42px;
    text-align: center;
    border-radius: 42px;
    margin-left: 4px; }
    .contacts-soc a:hover {
      background-color: #c2f3b3;
      -webkit-transform: rotate(-15deg);
              transform: rotate(-15deg); }

.contacts-mobile {
  background-color: #445162; }
  .contacts-mobile h3 {
    text-align: center;
    color: #ffffff;
    width: 100%;
    margin-bottom: 29px; }
  .contacts-mobile form input, .contacts-mobile form textarea {
    width: 49%;
    margin-bottom: 21px;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content; }
    .contacts-mobile form input:focus, .contacts-mobile form textarea:focus {
      background-color: #88a2c4;
      -webkit-transform: scale(1.02);
              transform: scale(1.02);
      -webkit-transition: 0.4s ease-out;
      transition: 0.4s ease-out; }
  .contacts-mobile .send {
    margin: 0 auto;
    width: 100%;
    display: inline-block;
    margin-bottom: 20px; }
  .contacts-mobile-block {
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 37px; }
    .contacts-mobile-block a {
      color: #ffffff;
      font-size: 16px; }
  .contacts-mobile-soc a {
    display: inline-block;
    color: #445162;
    background-color: #fff;
    padding: 7px;
    font-size: 20px;
    width: 42px;
    height: 42px;
    text-align: center;
    border-radius: 42px;
    margin-left: 4px;
    margin-bottom: 7px; }
    .contacts-mobile-soc a:hover {
      background-color: #c2f3b3;
      -webkit-transform: rotate(-15deg);
              transform: rotate(-15deg); }

.copy {
  text-align: center;
  color: #445162;
  font-size: 12px;
  padding: 10px 0 5px;
  background-color: #f5f5f5; }

@media (max-width: 768px) {
  .row {
    padding-left: 5px;
    padding-right: 5px; } }
