@import url(../libs/normalize-css/normalize.css);
@font-face {
  font-family: "Whimsy TT";
  src: url("../fonts/WhimsyTT.woff") format("woff"); }
@font-face {
  font-family: "Tahoma";
  src: url("../fonts/Tahoma.woff") format("woff"); }
@font-face {
  font-family: "Tahoma Bold";
  src: url("../fonts/Tahoma-Bold.woff") format("woff"); }
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.75;
  font-family: raleway-grid, sans-serif;
  overflow-x: hidden;
  opacity: 1;
  color: #333333; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%; } }
body {
  background: url(../img/bck.png) no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover; }

.main-header {
  padding-top: 89px;
  padding-bottom: 14px; }
  .main-header nav {
    position: relative; }
    .main-header nav:after {
      content: "";
      background: url(../img/lineh.png) no-repeat;
      background-position: center;
      background-size: cover;
      position: absolute;
      width: 100%;
      height: 30px;
      bottom: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }

.brand {
  text-shadow: 3px 4px 0 #ffffff;
  color: #000000;
  font-family: "Whimsy TT";
  font-size: 58px;
  font-weight: 400;
  text-transform: uppercase; }

.main-menu {
  text-shadow: 3px 4px 0 #ffffff;
  color: #000000;
  font-family: "Whimsy TT";
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase; }

.postal {
  background: url(../img/bck-2.png) no-repeat;
  background-size: 100%;
  min-height: 600px; }
  .postal-in {
    padding: 85px; }
    .postal-in h2 {
      color: #000000;
      font-family: "Whimsy TT";
      font-size: 23px; }
    .postal-in p, .postal-in b {
      color: #6e6e6e;
      font-family: Tahoma;
      font-size: 16px;
      line-height: 19px;
      padding-bottom: 15px; }
    .postal-in ul {
      list-style: none;
      padding: 0; }
      .postal-in ul .fl {
        float: left;
        margin-right: 20px; }
      .postal-in ul .text {
        overflow: hidden; }
        .postal-in ul .text a {
          color: #000000; }
  .postal:before {
    content: "";
    background: url(../img/line.png) no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 30px;
    height: 135%;
    bottom: 50%;
    left: -10%;
    -webkit-transform: translatey(50%);
            transform: translatey(50%); }

main .container {
  position: relative;
  padding-bottom: 40px; }
  main .container:after {
    content: "";
    background: url(../img/lineh.png) no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 30px;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .cart img {
    margin-bottom: 15px; }
  .cart p {
    text-align: center;
    text-shadow: 3px 4px 0 #ffffff;
    color: #000000;
    font-family: "Whimsy TT";
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase; }

.main-footer {
  color: #000000;
  font-family: Tahoma;
  font-size: 10px;
  font-weight: 400;
  position: relative;
  margin-bottom: 100px; }
  .main-footer a {
    color: #000000; }
  .main-footer:after {
    content: "";
    background: url(../img/man.png) no-repeat;
    background-position: center;
    position: absolute;
    width: 200px;
    height: 210px;
    bottom: -91px;
    right: 20%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }

.second-footer {
  height: 225px;
  background: url(../img/footer.png) no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative; }
  .second-footer:after {
    content: "";
    background: url(../img/linefo.png) no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 30px;
    top: -10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }

/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /* */ }
/*==========  Mobile First  ========== */
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /* */ }
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /* */ }
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /* */ }
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /* */ }
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /* */ }
